{% extends 'main/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}

{% block body %}

    <div class="container">

        {% if app.user %}
            <h3 class="mb-3">{{ 'Edit item'|trans }}</h3>

            {{ form_start(editeItemForm) }}
            {{ form_errors(editeItemForm) }}
            {{ dump(editeItemForm.name) }}
            {{ form_row(editeItemForm.name) }}
            {% for single_attribute in editeItemForm.itemAttributes %}
                {{ dump(single_attribute) }}
                {{ dump(single_attribute.vars.data.itemCollectionAttribute.name) }}
                {# {{ form_row(attribute.value, { 'label': base_attributes[loop.index0].name }) }} #}
                {{ form_row(single_attribute.value, { 'label': single_attribute.vars.data.itemCollectionAttribute.name }) }}
            {% endfor %}

            <div>
                <button type="submit" class="btn btn-success mt-3">{{ 'Edit item'|trans }}</button>
            </div>
            {{ form_end(editeItemForm) }}
        {% else %}
            {{ 'Login to your account or register!'|trans }}
        {% endif %}
    </div>

{% endblock %}
