{% extends 'main/base.html.twig' %}
{% block body %}

    {% if all_items %}
    <h4>{{ 'Recently added items:'| trans }}</h4>
    <table class="table table-borderless" style="max-width: 300px">
        {% set recent_items = all_items|sort((a, b) => a.createdAt <=> b.createdAt)|reverse|slice(0, 5) %}
    {% for single_item in recent_items %}
        <tr>
        <td style="padding: 4px"><a href="{{ path('item', {name: single_item.itemCollection.userId.name, collection_id: single_item.itemCollection.id, item_id: single_item.id}) }}">{{ single_item.name }}</a></td>
        <td style="padding: 4px">{{ single_item.createdAt|date('Y-m-d H:i') }}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <div>{{ 'No Recently added items.'| trans }}</div>
    {% endif %}

    {% if full_collections %}
        <div style="max-width: 1000px">
        <h4>{{ 'Largest number of items in collections:'| trans }}</h4>
            {% set biggest_collections = full_collections|sort((a, b) => a.items|length <=> b.items|length)|reverse|slice(0, 5)|filter(v => v.items|length > 0) %}

            {% if biggest_collections %}
                {% for single_collection in biggest_collections %}
                    <div style="padding: 4px">{{ single_collection.items|length }} {{ "in"| trans}} <a href="{{ path('item_collection', {collection_id: single_collection.id, name: single_collection.userId.name}) }}">{{ single_collection.name }}</a> {{ "of user"| trans }} <a href="{{ path('user', {name: single_collection.userId.name}) }}">{{ single_collection.userId.name }}</a></div>
                {% endfor %}
            {% else %}
                <div>{{ 'No items in collections.'| trans }}</div>
            {% endif %}
        </div>
    {% else %}
        <div>{{ 'No collections.'| trans }}</div>
    {% endif %}




{% endblock %}