{% extends 'main/base.html.twig' %}

{% block body %}

    <div class="container">
        {% if app.user %}
            <h3 class="mb-3">{{ 'Edit collection'|trans }}</h3>

            {{ form_start(editItemCollectionForm) }}
            {{ form_errors(editItemCollectionForm) }}
            {{ form_row(editItemCollectionForm.name) }}
            {{ form_row(editItemCollectionForm.description) }}
            {{ form_row(editItemCollectionForm.theme) }}

            {% if editItemCollectionForm.itemCollectionAttributes|length > 0 %}
            <ul class="itemCollectionAttributes">
                {% for single_collection_attribute in editItemCollectionForm.itemCollectionAttributes %}
                    <hr>
                        <li>
                            {{ form_row(single_collection_attribute.name) }}
                            {{ form_row(single_collection_attribute.attributeType) }}
                        </li>
                {% endfor %}
            </ul>
            {% else %}
                <div style="display: none">{{ form_row(editItemCollectionForm.itemCollectionAttributes) }}</div>
            {% endif %}

            <div>
                <button type="submit" class="btn btn-success mt-3">{{ 'Edit collection'|trans }}</button>
            </div>

            {{ form_end(editItemCollectionForm) }}
        {% else %}
            {{ 'Login to your account or register!'|trans }}
        {% endif %}
    </div>

{% endblock %}
