{% extends 'main/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

{% endblock javascripts %}

{% block body %}

    <div class="container">
        {% if app.user %}
        <h3 class="mb-3">{{ 'Create collection'|trans }}</h3>

        {{ form_start(createItemCollectionForm) }}
        {{ form_errors(createItemCollectionForm) }}
        {{ form_row(createItemCollectionForm.name) }}
        {{ form_row(createItemCollectionForm.description) }}
        {{ form_row(createItemCollectionForm.theme) }}
        <div class="form-group row">
            <div>
                <label>
                    {{ 'Image to add:'|trans }}
                </label>
            </div>
            <div class="col-sm-10">
                <div action="{{ oneup_uploader_endpoint('gallery') }}"
                     class="dropzone js-reference-dropzone"
                     style="width:500px"
                     id="my-dropzone">
                    <div class="dz-message" data-dz-message><span>{{ 'Drop image here to upload'|trans }}</span></div>
                </div>
                <script type="text/javascript">
                    Dropzone.options.myDropzone = {
                        maxFiles: 1,
                        resizeHeight: 200,
                        resizeQuality: 0.7,
                    };
                </script>
            </div>
        </div>

        <button type="submit" class="btn btn-success mt-3">{{ 'Create collection'|trans }}</button>
        {{ form_end(createItemCollectionForm) }}
        {% else %}
        {{ 'Login to your account or register!'|trans }}
        {% endif %}
    </div>

{% endblock %}
