{% extends 'main/base.html.twig' %}


{% block body %}
    <div class="container">
        {% if app.user %}
        <h3 class="mb-3">{{ 'Create collection'|trans }}</h3>

        {{ form_start(createItemCollectionForm) }}
        {{ form_errors(createItemCollectionForm) }}
        {{ form_row(createItemCollectionForm.name) }}
        {{ form_row(createItemCollectionForm.description) }}
        {{ form_row(createItemCollectionForm.theme) }}


        <button type="submit" class="btn btn-success mt-3">{{ 'Create collection'|trans }}</button>
        {{ form_end(createItemCollectionForm) }}
        {% else %}
        {{ 'Login to your account or register!'|trans }}
        {% endif %}
    </div>

{% endblock %}
